HOST=0.0.0.0
PORT=1337
APP_KEYS="toBeModified1,toBeModified2"
API_TOKEN_SALT=tobemodified
ADMIN_JWT_SECRET=tobemodified
TRANSFER_TOKEN_SALT=tobemodified
JWT_SECRET=tobemodified
ENCRYPTION_KEY=tobemodified
EMAIL_ENABLED=false

# Cron employee sync
CRON_ENABLED=true
EMPLOYEE_API_BASE_URL=http://192.168.30.214:92
EMPLOYEE_API_PATH=/api/Employee/GetAllEmployees
EMPLOYEE_API_TOKEN_PATH=/api/Account/GenerateToken
EMPLOYEE_API_TOKEN_USERNAME=hrms
EMPLOYEE_API_TOKEN_PASSWORD=Hrm$@2026
EMPLOYEE_API_COMPANY_ID=1
EMPLOYEE_API_PAGE_SIZE=100
